.error {
    color: red;
    font-size: 11px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.__nav a.active, .__nav a:hover {
    background: #ef540f !important;
    border-color: #ef540f !important;
    color: #fff;
}

.form-section .form-control {
    text-transform: none !important;
}

.bootstrap-timepicker-widget table td input {
    border: none !important;
}

.__mobile .error {
    position: absolute !important;
    bottom: -25px !important;
}

.search-section .tab-sec .form-inline .form-group {
    vertical-align: top !important;
    margin-bottom: 18px !important;
}

.search-section .tab-sec .form-inline .form-control {
    min-height: 38px !important;
    border-radius: 5px !important;
}

.__myicon {
    font-size: 15px !important;
    line-height: 25px !important;
}

.__myicon img {
    height: 25px;
    margin-left: -7px !important;
}

.__myicon small {
    font-size: 12px !important;
}

.__cancel_modal {
    z-index: 9999999999 !important;
}